//- extend post

//- block content
//-   // 댓글
//-   .comment-section
//-     .comment-title 댓글
//-     .comments
//-       .comment
//-         .comment-writer 예빈이
//-         .comment-text 마라탕
//-         button.com-delete-btn(onclick="") 삭제
  
//-     // 댓글 입력
//-     .comment-input
//-       //- input.comment-name(type="text" placeholder="닉네임")
//-       input.comment-content(type="text" placeholder="댓글을 입력해주세요.(100자)")
//-       button.submit-btn(onclick="") 완료
  
//-   // 하단 버튼
//-   .bottom-buttons
//-     button.list-btn(onclick="location.href='list.pug'") 목록
//-     button.board-delete-btn(onclick="") 삭제