body {
  padding: 20px;
}
.container {
  width: 80%;
  margin: auto;
  /* display: flex; */
}
.search-box {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.table {
  width: 100%;
  margin-top: 10px;
  border-top: black solid 1px;
}
.row {
  display: flex;
  border-bottom: 1px solid #ddd;
}
.row.header {
  background-color: #f4f4f4;
  font-weight: bold;
}
.cell {
  flex: 1;
  padding: 10px;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.page {
  padding: 5px 10px;
  margin: 2px;
  text-decoration: none;
  color: black;
}
.page:hover {
  background-color: #f4f4f4;
}
.write-btn {
  background-color: white;
  text-align: right;
  margin-top: 10px;
}

.page.active {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
}

.header {
  display: flex;
  justify-content: space-between; /* h1은 왼쪽, nav는 오른쪽 */
  align-items: center;
}

.nav-bar {
  display: flex;
  gap: 10px; /* 항목 사이 간격 */
  justify-content: flex-end; /* 오른쪽 정렬하고 싶으면 */
  align-items: center;
}
.title {
  text-overflow: ellipsis;
  overflow: hidden;
}
