body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f9f9f9;
  font-family: sans-serif;
}
.nav_bar {
  padding-top: 20px;
  text-align: right;
}
.nav {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  gap: 10px; /* 항목 사이 간격 */
  justify-content: flex-end; /* 오른쪽 정렬하고 싶으면 */
  align-items: center;
}

.main-container {
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

.container,
.container_post {
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.btn {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}

.info {
  flex: 1;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.row span:first-child {
  font-weight: bold;
}

.btn-small {
  font-size: 12px;
  padding: 10px 8px;
  margin-left: 10px;
  background-color: #f2f2f2;
  border: 1px solid #bbb;
  border-radius: 5px;
  cursor: pointer;
}

/*게시글 조회 css*/
.container_post {
  width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}
.row_post span {
  font-weight: bold;
}

.row_post,
.row_post_list {
  display: grid;
  grid-template-columns: 10% 50% 15% 25%;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  align-items: center;
}
.header-row div {
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between; /* h1은 왼쪽, nav는 오른쪽 */
  align-items: center;
}
.col-num {
  flex: 0 0 60px;
  text-align: center;
}

.col-title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.col-views {
  flex: 0 0 60px;
  text-align: center;
}

.col-actions {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  gap: 4px;
}

/*닉네임 수정창*/
.input-field {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

a:hover {
  color: gray;
  box-shadow: gray 1px 1px 1px;
}
.delete-account-btn {
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 0, 0);
  box-shadow: rgb(180, 0, 3) 1px 1px 0px;
  height: 40px;
  color: white;
}

.delete-account-btn:hover {
  background-color: rgb(180, 0, 0);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.page {
  padding: 5px 10px;
  margin: 2px;
  text-decoration: none;
  color: black;
}
.page:hover {
  background-color: #f4f4f4;
}
